@if (IsLoad == false)
{
    <span>Loading...</span>
}
else
{

    <div class="container">
        <div class="row">
            <div class="col-6">
                <RatingComponent Rating="Rating" Max="Max" @bind-SelectedRating="Rating">
                </RatingComponent>
            </div>
            <div class="col-6">
                @if (Rating >= 1)
                {
                    <span>Rating Value is : @Rating</span>
                    <br />

                }
            </div>
        </div>
    </div>
}